.designathon-wrapper-main {
  margin-top: 6.4vw;
  margin-bottom: 0px;
  padding: 25px auto 0px auto;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100vw;
}
.home-designaton {
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
}
.home-designaton-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
  padding: 8% 0% 8% 7vw;
  align-items: center;
}
.designathon-header-content {
  display: flex;
  flex-direction: column;
}
.designathon-header-content > :nth-child(1) {
  font-size: 3vw;
  font-weight: 300;
  font-family: "NeueMachinaRegular";
  line-height: 0.95;
}
.designathon-header-content > :nth-child(2) {
  font-size: 5.26vw;
  font-family: "NeueMachinaUltrabold";
  line-height: 0.95;
}
.designathon-header-content > .by-code {
  font-size: 2.5vw;
  margin-left: 30.2vw;
  font-family: "NeueMachinaRegular";
  line-height: 0.95;
}
.designathon-header-dates {
  display: flex;
  width: 41vw;
  justify-content: space-between;
}

.designathon-header-dates > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.designathon-header-dates > div > h2 {
  font-size: 3vw;
  background: linear-gradient(128.92deg, #8e0042 0%, #e30069 57.77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: "NeueMachinaUltrabold";
}
.designathon-header-dates > div > p {
  font-size: 1.3vw;
  font-family: "NeueMachinaUltrabold";
}
.designathon-person-video > video {
  width: 50vw;
  height: auto;
  justify-self: right;
}
.designathon-person-video > img {
  width: 50vw;
  height: auto;
  justify-self: right;
}
.space-creator {
  display: none;
}
@media screen and (max-width: 1130px) {
  .home-designaton-left > :nth-child(3) {
    position: fixed;
    bottom: 6%;
    left: 35%;
    z-index: 9999;
  }
  .designathon-header-dates>div>h2{
    font-size: 3.5vw;
  }
 .designathon-header-dates>div>p{
    font-size: 2.2vw;
  }

}
@media screen and (max-width: 1000px) {
  .designathon-wrapper-main {
    margin-top: 10.7vw;
  }
}
@media screen and (max-width: 730px) {
  .designathon-wrapper-main {
    margin-top: 14.7vw;
  }
  .home-designaton-left > :nth-child(3) {
    position: fixed;
    bottom: 6%;
    left: 30%;
    z-index: 9999;
  }

}
@media screen and (max-width: 600px) {
  .home-designaton-left > :nth-child(3) {
    bottom: 6%;
    left: 25%;
  }
}
@media screen and (max-width: 480px) {
  .designathon-wrapper-main {
    margin-top: 17.7vw;
  }
  .home-designaton {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .designathon-person-video > video {
    width: 90vw;
    height: auto;
    justify-self: right;
  }
  .designathon-header-dates {
    width:100%;
  }
  .designathon-person-video > img {
    width: 90vw;
    height: auto;
    justify-self: right;
  }
  .home-designaton-left {
    justify-content: space-between;
    width: 100%;
    padding: 8% 0% 8% 0vw;
  }
  .designathon-header-dates > div > h2 {
    font-size: 5.5vw;
  }
  .designathon-header-dates > div > p {
    font-size: 3.2vw;
  }
  .designathon-header-content {
    margin-bottom: 1.5vw;
  }
  .designathon-header-content > :nth-child(1) {
    font-size: 6.2vw;
    font-weight: 300;
    font-family: "NeueMachinaRegular";
    line-height: 0.95;
  }
  .designathon-header-content > :nth-child(2) {
    font-size: 10.8vw;
    font-family: "NeueMachinaUltrabold";
    line-height: 0.95;
  }
  .designathon-header-content > .by-code {
    font-size: 4vw;
    margin-left: 66.9vw;
    line-height: 0.95;
  }
  .home-designaton-left > :nth-child(3) {
    bottom: 6%;
    left: 20%;
  }
}
@media screen and (max-width: 450px) {
  .home-designaton-left > :nth-child(3) {
    bottom: 6%;
    left: 17%;
  }
}
@media screen and (max-width: 420px) {
  .home-designaton-left > :nth-child(3) {
    bottom: 6%;
    left: 13%;
  }
}
@media screen and (max-width: 400px) {
  .home-designaton-left > :nth-child(3) {
    bottom: 6%;
    left: 10%;
  }
}

.designathon-theme {
  margin-top: 4vw;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.designathon-theme > img {
  width: 100%;
}
.designathon-theme-content {
  top: 30%;
  left: 15%;
  font-family: "NeueMachinaUltrabold";
}
.designathon-theme-content > p {
  font-size: 2.7vw;
}
.designathon-theme-content > h3 {
  font-size: 5vw;
}

.designathon-prize-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 3vw 7.3vw;
  font-family: "NeueMachinaUltrabold";
}

.designathon-prize-wrapper > div > h3 {
  color: white;
  font-size: 3.1vw;
}
.designathon-prize-wrapper > div > h2 {
  font-size: 6.2vw;
  background: linear-gradient(180deg, #f7c301 0%, rgba(247, 195, 1, 0.5) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.designathon-prize-wrapper > :nth-child(2) > h2 {
  font-size: 6.2vw;
  background: linear-gradient(180deg, #565656 0%, rgba(255, 255, 255, 0.7) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.timeline-designathon-wrapper-main {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}